/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* dog pics */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12vh;
}

.dogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dogs h1 {
   
    margin-bottom: 4rem;
    
    font-size: 5rem;
}

.dog {
    height: 25rem;
    margin-bottom: 4rem;
    margin-top: .5rem;
}

.dog-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.dog-description {
    font-size: 1.6rem;
    line-height: 1.9;
    width: 65%;
    font-weight:300;
    margin-bottom: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    background: #A7C7E7;
    padding: 2rem 1.9rem;
    border-radius: .5rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    margin-right: 1.4rem;
    cursor: pointer;
}

.reset-btn {
    background: none;
    border: none;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
}

:focus {
    outline-width: 0;
}